<div class="member-main-image">
  <div class="top-session-wrap">
    <div class="player-header-wrap">
      <%= render "shared/second_header" %>
      <div class="player-header-contents">
        <div class="session-header-logo-warap">
          <h1><%= link_to "select", root_path, class:"player-header-logo" %></h1>
        </div>
      </div>
    </div>
    <%= render "shared/header" %>
    <%= form_with model: @order, url: matchs_path, class: "defence-main-wrap", local: true do |f| %>
    <div class="offence-main-wrap">
      <div class="new-match-form-group">
        <% if @order.errors.any? %>
        <div class="match-error-message">※全ての項目を入力してください</div>
        <% end %>
        <div class='new-match-form-text-wrap'>
          <p class="user-name"><%= current_user.name %></p>
          <label class="new-form-text"> VS </label>
          <%= f.text_field :match_name, placeholder:"対戦相手", class:"match-name" %>
        </div>
        <div class='new-match-form-date-wrap'>
          <%= f.collection_select(:year_id, Year.all, :id, :name, {}, {class:"year-date-field"}) %>
          <label class="form-text">年</label>
          <%= f.collection_select(:month_id, Month.all, :id, :name, {}, {class:"date-field"}) %>
          <label class="form-text">月</label>
          <%= f.collection_select(:day_id, Day.all, :id, :name, {}, {class:"date-field"}) %>
          <label class="form-text">日</label>
        </div>
        <%# <%= render "shared/sub_offence" %>

        <div class="new-offence-set-wrap">
          <input type="submit" value="保存する" class="order-create-btn">
          <%= link_to "トップへ戻る", root_path, class:"matches-root-path-btn"%>
        </div>
      </div>
        
      <div class="offence-wrap">
        <table class="offence-members">
          <tr class="new-offence-contents">
            <th class="batting-order">打順</th>　
            <th class="start-order-names">選手名</th>
          　<th class="positioning">守備</th>
          </tr>
          <tr class="new-offence-content">
            <td>１</td>
            <td><%= f.collection_select(:first_name_id, Member.where(user_id: current_user.id), :id, :name, {include_blank: "選手を選択"}, {class:"member-select"})%></td>
            <td><%= f.collection_select(:first_position_id, FirstPosition.all, :id, :name, {}, {class:"position-select"}) %></td>
          </tr>
          <tr class="new-offence-content">
            <td>２</td>
            <td><%= f.collection_select(:second_name_id, Member.where(user_id: current_user.id), :id, :name, {include_blank: "選手を選択"}, {class:"member-select"})%></td>
            <td><%= f.collection_select(:second_position_id, SecondPosition.all, :id, :name, {}, {class:"position-select"}) %></td>
          </tr>
          <tr class="new-offence-content">
            <td>３</td>
            <td><%= f.collection_select(:third_name_id, Member.where(user_id: current_user.id), :id, :name, {include_blank: "選手を選択"}, {class:"member-select"})%></td>
            <td><%= f.collection_select(:third_position_id, ThirdPosition.all, :id, :name, {}, {class:"position-select"}) %></td>
          </tr>
          <tr class="new-offence-content">
            <td>4</td>
            <td><%= f.collection_select(:fourth_name_id, Member.where(user_id: current_user.id), :id, :name, {include_blank: "選手を選択"}, {class:"member-select"})%></td>
            <td><%= f.collection_select(:fourth_position_id, FourthPosition.all, :id, :name, {}, {class:"position-select"}) %></td>
          </tr>
          <tr class="new-offence-content">
            <td>5</td>
            <td><%= f.collection_select(:fifth_name_id, Member.where(user_id: current_user.id), :id, :name, {include_blank: "選手を選択"}, {class:"member-select"})%></td>
            <td><%= f.collection_select(:fifth_position_id, FifthPosition.all, :id, :name, {}, {class:"position-select"}) %></td>
          </tr>
          <tr class="new-offence-content">
            <td>6</td>
            <td><%= f.collection_select(:sixth_name_id, Member.where(user_id: current_user.id), :id, :name, {include_blank: "選手を選択"}, {class:"member-select"})%></td>
            <td><%= f.collection_select(:sixth_position_id, SixthPosition.all, :id, :name, {}, {class:"position-select"}) %></td>
          </tr>
          <tr class="new-offence-content">
            <td>7</td>
            <td><%= f.collection_select(:seventh_name_id, Member.where(user_id: current_user.id), :id, :name, {include_blank: "選手を選択"}, {class:"member-select"})%></td>
            <td><%= f.collection_select(:seventh_position_id, SeventhPosition.all, :id, :name, {}, {class:"position-select"}) %></td>
          </tr>
          <tr class="new-offence-content">
            <td>8</td>
            <td><%= f.collection_select(:eighth_name_id, Member.where(user_id: current_user.id), :id, :name, {include_blank: "選手を選択"}, {class:"member-select"})%></td>
            <td><%= f.collection_select(:eighth_position_id, EighthPosition.all, :id, :name, {}, {class:"position-select"}) %></td>
          </tr>
          <tr class="new-offence-content">
            <td>9</td>
            <td><%= f.collection_select(:ninth_name_id, Member.where(user_id: current_user.id), :id, :name, {include_blank: "選手を選択"}, {class:"member-select"})%></td>
            <td><%= f.collection_select(:ninth_position_id, NinthPosition.all, :id, :name, {}, {class:"position-select"}) %></td>
          </tr>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>
