<div class="order-main-image">
  <div class="top-session-wrap">

    <%= render "shared/header" %>
    <div class="main-ofence-contents-wrap">
      <div class="ofence-contents-wrap">
        <div class="ofence-contents">
          <div class="ofence-data-wrap">
            <div class="ofence-search-wrap">
            <%= search_form_for @p, url: search_matchs_path do |f| %>
              <div class="search-content">
                <div class="search-input">
                  <%= f.label :match_name_eq, '対戦相手' %>
                </div>
                <div class="ofence-search-form" >
                  <%= f.collection_select :match_name_eq, @match_names.where(user_id: current_user.id), :match_name, :match_name,  {include_blank: '指定なし'}, {class:"ofence-search-form"} %>
                </div>
              </div>
              <div class="search-content">
                <div class="search-input">
                  <%= f.label :year_id_eq, '対戦 年', class: "search-input" %>
                </div>            
                <div class="ofence-search-form" >
                  <%= f.collection_select :year_id_eq, Year.all, :id, :name,  {include_blank: '指定なし'}, {class:"ofence-search-form"} %>
                </div>
              </div>
              <div class="search-content">
                <div class="search-input">
                  <%= f.label :month_id_eq, '対戦 月', class: "search-input" %>
                </div>
                <div class="ofence-search-form" >
                  <%= f.collection_select :month_id_eq, Month.all, :id, :name, {include_blank: '指定なし'}, {class:"ofence-search-form"} %>
                </div>
              </div>
              <div class="search-content">
                <div class="search-input">
                  <%= f.label :day_id_eq, '対戦 日', class: "search-input" %>
                </div>
                <div class="ofence-search-form" >
                  <%= f.collection_select :day_id_eq, Day.all, :id, :name,{include_blank: '指定なし'}, {class:"ofence-search-form"} %>
                </div>
              </div>
              <div class="search-btn-wrap">
                <%= f.submit "検索", class: "match-search-btn" %>
              </div>
            <% end %>
            </div>
          </div>
        </div>

        <div class="ofence-contents">
          <div class="ofence-history-wrap">
            <% @results.each do |result| %>
              <% if current_user.id == result.user_id %>
              <div class="ofence-history">
                <%= link_to match_path(result.id) do %>
                <div class="match-name-wrap">
                  <p class="ofence-user-name"><%= current_user.name %></p>
                  <label class="ofence-form-text"> VS </label>
                  <p class="ofence-match-name"><%= result.match_name %></p>
                </div>
                <div class="match-date-wrap">
                  <p class="ofence-match-year"><%= result.year.name %>年</p>
                  <p class="ofence-match-month"><%= result.month.name %>月</p>
                  <p class="ofence-match-day"><%= result.day.name %>日</p>
                </div>
                <% end %>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<%= render "shared/footer" %>