<div class="front-main-image">
  <div class="top-session-wrap">
    <%= render "shared/header" %>
    <%= form_with model: @front, url: match_fronts_path, class: "registration", local: true do |f| %>
      <div class="front-main-wrap">
        <div class="front-wrap">
          <table class="score-table">
            <tr>
              <th class="score-content">
                TEAM
              </th>
              <td class="inning-wrap">
                １
              </td>
              <td class="inning-wrap">
                ２
              </td>
              <td class="inning-wrap">
                ３
              </td>
              <td class="inning-wrap">
                ４
              </td>
              <td class="inning-wrap">
                ５
              </td>
              <td class="inning-wrap">
                ６
              </td>
              <td class="inning-wrap">
                ７
              </td>
              <td class="inning-wrap">
                ８
              </td>
              <td class="inning-wrap">
                ９
              </td>
              <th class="total-wrap">
                計
              </th>
            </tr>
            <tr>
              <th class="score-content">
                <%= current_user.name %>
              </th>
              <td>
                <%= f.text_field :first_fa_inning, id:"first-fa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :second_fa_inning, id:"second-fa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :third_fa_inning, id:"third-fa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :fourth_fa_inning, id:"fourth-fa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :fifth_fa_inning, id:"fifth-fa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :sixth_fa_inning, id:"sixth-fa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :seventh_fa_inning, id:"seventh-fa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :eighth_fa_inning, id:"eighth-fa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :ninth_fa_inning, id:"ninth-fa-score-field", class:"score-field" %>
              </td>
              <th class="total-wrap">
                <span id="fa-total"></span>
              </th>
            </tr>
            <tr>
              <th class="score-content">
                <%= @match.match_name %>
              </th>
              <td>
                <%= f.text_field :first_sa_inning, id:"first-sa-score-field", class:"score-field"  %>
              </td>
              <td>
                <%= f.text_field :second_sa_inning, id:"second-sa-score-field", class:"score-field"  %>
              </td>
              <td>
                <%= f.text_field :third_sa_inning, id:"third-sa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :fourth_sa_inning, id:"fourth-sa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :fifth_sa_inning, id:"fifth-sa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :sixth_sa_inning, id:"sixth-sa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :seventh_sa_inning, id:"seventh-sa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :eighth_sa_inning, id:"eighth-sa-score-field", class:"score-field" %>
              </td>
              <td>
                <%= f.text_field :ninth_sa_inning, id:"ninth-sa-score-field", class:"score-field" %>
              </td>
              <th class="total-wrap">
                <span id="sa-total"></span>
              </th>
            </tr>
          </table>
        </div>
        <div class="front-set-wrap">
          <input type="submit" value="保存する" class="front-set-btn">
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>