<header>
  <div class="sub-header">
    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
        <div class="sub-header-lists">
          <% if user_signed_in? %>
            <ul class="sub-list-contents">
              <li><%= link_to current_user.name, "#", class:"sub-my-page" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"sub-log-out" %></li>
            </ul>
          <% else %>
            <ul class="sub-list-contents">
              <li><%= link_to "ログイン", user_session_path, class:"sub-log-in" %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class:"sub-session" %></li>
            </ul>
          <% end %>
        </div>
        <div>
          <ul class="sub-main-menu-lists">
            <li><%= link_to "選手登録", new_member_path, class:"sub-main-list"%></li> 
            <li><%= link_to "選手一覧", player_members_path, class:"sub-main-list" %></li>
            <li><%= link_to "スタメン設定", matchs_path, class:"sub-main-list" %></li>
            <li><%= link_to "スタメン確認", ofence_matchs_path, class:"sub-main-list"%></li> 
            <li><%= link_to "試合結果", historys_path, class:"sub-main-list"%></li> 
          </ul>
        </div>  


      </div>
    
    
    </div>
  </div>
</header>
