<div class="order-main-image">
  <div class="top-session-wrap">

    <%= render "shared/header" %>
    <div class="main-ofence-contents-wrap">
      <div class="offence-contents-wrap">
        <div class="offence-contents">
          <div class="offence-data-wrap">
            <div class="offence-search-wrap">
            <%= search_form_for @p, url: search_historys_path do |f| %>
              <div class="search-content">
                <div class="search-input">
                  <%= f.label :match_name_eq, '対戦相手' %>
                </div>
                <div class="offence-search-form" >
                  <%= f.collection_select :match_name_eq, @match_names.where(user_id: current_user.id), :match_name, :match_name,  {include_blank: '指定なし'}, {class:"offence-search-form"} %>
                </div>
              </div>
              <div class="search-content">
                <div class="search-input">
                  <%= f.label :year_id_eq, '対戦 年', class: "search-input" %>
                </div>            
                <div class="offence-search-form" >
                  <%= f.collection_select :year_id_eq, Year.all, :id, :name,  {include_blank: '指定なし'}, {class:"offence-search-form"} %>
                </div>
              </div>
              <div class="search-content">
                <div class="search-input">
                  <%= f.label :month_id_eq, '対戦 月', class: "search-input" %>
                </div>
                <div class="offence-search-form" >
                  <%= f.collection_select :month_id_eq, Month.all, :id, :name, {include_blank: '指定なし'}, {class:"offence-search-form"} %>
                </div>
              </div>
              <div class="search-content">
                <div class="search-input">
                  <%= f.label :day_id_eq, '対戦 日', class: "search-input" %>
                </div>
                <div class="offence-search-form" >
                  <%= f.collection_select :day_id_eq, Day.all, :id, :name,{include_blank: '指定なし'}, {class:"offence-search-form"} %>
                </div>
              </div>
              <div class="search-btn-wrap">
                <%= f.submit "試合検索", class: "match-history-search-btn" %>
              </div>
              <div class="search-root-btn-wrap">
                <%= link_to "トップへ戻る", root_path, class:"offence-root-path-btn"%>
              </div>
            <% end %>
            </div>
          </div>
        </div>

        <div class="offence-contents-history">
          <div class="offence-history-wrap">
            <% @results.each do |result| %>
              <% if current_user.id == result.user_id && result.front || current_user.id == result.user_id && result.back %>
              <div class="offence-history">
                <%= link_to history_path(result.id) do %>
                <div class="match-name-wrap">
                  <p class="offence-user-name"><%= current_user.name %></p>
                  <label class="offence-form-text"> VS </label>
                  <p class="offence-match-name"><%= result.match_name %></p>
                </div>
                <div class="match-date-wrap">
                  <p class="offence-match-year"><%= result.year.name %>年</p>
                  <p class="offence-match-month"><%= result.month.name %>月</p>
                  <p class="offence-match-day"><%= result.day.name %>日</p>
                  <% @fronts.each do |front| %>
                    <% if result.id == front.match_id %>
                      <% a = front.first_fa_inning + front.second_fa_inning + front.third_fa_inning + front.fourth_fa_inning + front.fifth_fa_inning + front.sixth_fa_inning + front.seventh_fa_inning + front.eighth_fa_inning + front.ninth_fa_inning %>
                      <% b = front.first_sa_inning + front.second_sa_inning + front.third_sa_inning + front.fourth_sa_inning + front.fifth_sa_inning + front.sixth_sa_inning + front.seventh_sa_inning + front.eighth_sa_inning + front.ninth_sa_inning %>
                      <% if a > b  %>
                        <p class="match-win">勝利</p>
                      <% elsif a < b %>
                        <p class="match-lose">敗北</p>
                      <% else %>
                        <p class="match-draw">引き分け</p>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% @backs.each do |back| %>
                    <% if result.id == back.match_id %>
                      <% c = back.back_first_fa_inning + back.back_second_fa_inning + back.back_third_fa_inning + back.back_fourth_fa_inning + back.back_fifth_fa_inning + back.back_sixth_fa_inning + back.back_seventh_fa_inning + back.back_eighth_fa_inning + back.back_ninth_fa_inning %>
                      <% d = back.back_first_sa_inning + back.back_second_sa_inning + back.back_third_sa_inning + back.back_fourth_sa_inning + back.back_fifth_sa_inning + back.back_sixth_sa_inning + back.back_seventh_sa_inning + back.back_eighth_sa_inning + back.back_ninth_sa_inning %>
                      <% if c < d  %>
                        <p class="match-win">勝利</p>
                      <% elsif c > d %>
                        <p class="match-lose">敗北</p>
                      <% else %>
                        <p class="match-draw">引き分け</p>
                      <% end %>
                    <% end %>
                  <% end %>

                </div>
                <% end %>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
