<div class="member-main-image">
  <div class="history-main-wrap">
    <div class="player-header-wrap">
      <%= render "shared/second_header" %>
      <div class="player-header-contents">
        <div class="session-header-logo-warap">
          <h1><%= link_to "select", root_path, class:"player-header-logo" %></h1>
        </div>
      </div>
    </div>

    <%= render "shared/header" %>
    <div class="history-wrap">
      <div class="history-date-wrap">
          <p class="history-year-date-field"><%= @match.year.name %></p>
          <label class="history-form-text">年</label>
          <p class="history-date-field"><%= @match.month.name %></p>
          <label class="history-form-text">月</label>
          <p class="history-date-field"><%= @match.day.name %></p>
          <label class="history-form-text">日</label>
      </div>
      <div class="history-front-wrap">
        <table class="history-score-table">
          <tr>
            <th class="score-content">
              TEAM
            </th>
            <td class="inning-wrap">
              １
            </td>
            <td class="inning-wrap">
              ２
            </td>
            <td class="inning-wrap">
              ３
            </td>
            <td class="inning-wrap">
              ４
            </td>
            <td class="inning-wrap">
              ５
            </td>
            <td class="inning-wrap">
              ６
            </td>
            <td class="inning-wrap">
              ７
            </td>
            <td class="inning-wrap">
              ８
            </td>
            <td class="inning-wrap">
              ９
            </td>
            <th class="total-wrap">
              計
            </th>
          </tr>
          <tr>
            <th class="score-content">
              <% if @match.front %>
                <%= current_user.name %>
              <% else %>
                <%= @match.match_name %>
              <% end %>
            </th>
            <td class="score-field">
              <% if @match.front %>
                <% @fronts.each do |front| %>
                  <% if @match.id == front.match_id %>
                    <%= front.first_fa_inning %>
                  <% end %>
                <% end %>
              <% else %>
                <% @backs.each do |back| %>
                  <% if @match.id == back.match_id %>
                    <%= back.back_first_fa_inning %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td class="score-field">
              <% if @match.front %>
                <% @fronts.each do |front|%>
                  <% if @match.id == front.match_id %>
                  <%= front.second_fa_inning %>
                  <% end %>
                <% end %>
              <% else %>
                <% @backs.each do |back| %>
                  <% if @match.id == back.match_id %>
                    <%= back.back_second_fa_inning %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td class="score-field">
              <% if @match.front %>
                <% @fronts.each do |front|%>
                  <% if @match.id == front.match_id %>
                  <%= front.third_fa_inning %>
                  <% end %>
                <% end %>
              <% else %>
                <% @backs.each do |back| %>
                  <% if @match.id == back.match_id %>
                    <%= back.back_third_fa_inning %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td class="score-field">
              <% if @match.front %>
                <% @fronts.each do |front|%>
                  <% if @match.id == front.match_id %>
                  <%= front.fourth_fa_inning %>
                  <% end %>
                <% end %>
              <% else %>
                <% @backs.each do |back| %>
                  <% if @match.id == back.match_id %>
                    <%= back.back_fourth_fa_inning %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td class="score-field">
              <% if @match.front %>
                <% @fronts.each do |front|%>
                  <% if @match.id == front.match_id %>
                  <%= front.fifth_fa_inning %>
                  <% end %>
                <% end %>
              <% else %>
                <% @backs.each do |back| %>
                  <% if @match.id == back.match_id %>
                    <%= back.back_fifth_fa_inning %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td class="score-field">
              <% if @match.front %>
                <% @fronts.each do |front|%>
                  <% if @match.id == front.match_id %>
                  <%= front.sixth_fa_inning %>
                  <% end %>
                <% end %>
              <% else %>
                <% @backs.each do |back| %>
                  <% if @match.id == back.match_id %>
                    <%= back.back_sixth_fa_inning %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td class="score-field">
              <% if @match.front %>
                <% @fronts.each do |front|%>
                  <% if @match.id == front.match_id %>
                  <%= front.seventh_fa_inning %>
                  <% end %>
                <% end %>
              <% else %>
                <% @backs.each do |back| %>
                  <% if @match.id == back.match_id %>
                    <%= back.back_seventh_fa_inning %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td class="score-field">
              <% if @match.front %>
                <% @fronts.each do |front|%>
                  <% if @match.id == front.match_id %>
                  <%= front.eighth_fa_inning %>
                  <% end %>
                <% end %>
              <% else %>
                <% @backs.each do |back| %>
                  <% if @match.id == back.match_id %>
                    <%= back.back_eighth_fa_inning %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td class="score-field">
              <% if @match.front %>
                <% @fronts.each do |front|%>
                  <% if @match.id == front.match_id %>
                  <%= front.ninth_fa_inning %>
                  <% end %>
                <% end %>
              <% else %>
                <% @backs.each do |back| %>
                  <% if @match.id == back.match_id %>
                    <%= back.back_ninth_fa_inning %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <th class="total-wrap">
            <% if @match.front %>
              <% @fronts.each do |front| %>
                <% if @match.id == front.match_id %>
                <%= front.first_fa_inning + front.second_fa_inning + front.third_fa_inning + front.fourth_fa_inning + front.fifth_fa_inning + front.sixth_fa_inning + front.seventh_fa_inning + front.eighth_fa_inning + front.ninth_fa_inning %>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_first_fa_inning + back.back_second_fa_inning + back.back_third_fa_inning + back.back_fourth_fa_inning + back.back_fifth_fa_inning + back.back_sixth_fa_inning + back.back_seventh_fa_inning + back.back_eighth_fa_inning + back.back_ninth_fa_inning %>
                <% end %>
              <% end %>
            <% end %>
            </th>
          </tr>
          <tr>
            <th class="score-content">
              <% if @match.back %>
                <%= current_user.name %>
              <% else %>
                <%= @match.match_name %>
              <% end %>
            
            </th>
            <td class="score-field">
            <% if @match.front %>
              <% @fronts.each do |front|%>
                <% if @match.id == front.match_id %>
                <%= front.first_sa_inning {id:"first-back"} %>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_first_sa_inning %>
                <% end %>
              <% end %>
            <% end %>
            </td>
            <td class="score-field">
            <% if @match.front %>
              <% @fronts.each do |front|%>
                <% if @match.id == front.match_id %>
                <%= front.second_sa_inning {id:"second-back"} %>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_second_sa_inning %>
                <% end %>
              <% end %>
            <% end %>

            </td>
            <td class="score-field">
            <% if @match.front %>
              <% @fronts.each do |front|%>
                <% if @match.id == front.match_id %>
                <%= front.third_sa_inning {id:"third-back"}%>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_third_sa_inning %>
                <% end %>
              <% end %>
            <% end %>
            </td>
            <td class="score-field">
            <% if @match.front %>
              <% @fronts.each do |front|%>
                <% if @match.id == front.match_id %>
                <%= front.fourth_sa_inning {id:"fourth-back"}%>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_fourth_sa_inning %>
                <% end %>
              <% end %>
            <% end %>
            </td>
            <td class="score-field">
            <% if @match.front %>
              <% @fronts.each do |front|%>
                <% if @match.id == front.match_id %>
                <%= front.fifth_sa_inning %>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_fifth_sa_inning %>
                <% end %>
              <% end %>
            <% end %>
            </td>
            <td class="score-field">
            <% if @match.front %>
              <% @fronts.each do |front|%>
                <% if @match.id == front.match_id %>
                <%= front.sixth_sa_inning {id:"fifth-back"}%>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_sixth_sa_inning %>
                <% end %>
              <% end %>
            <% end %>
            </td>
            <td class="score-field">
            <% if @match.front %>
              <% @fronts.each do |front|%>
                <% if @match.id == front.match_id %>
                <%= front.seventh_sa_inning {id:"seventh-back"}%>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_seventh_sa_inning %>
                <% end %>
              <% end %>
            <% end %>
            </td>
            <td class="score-field">
            <% if @match.front %>
              <% @fronts.each do |front|%>
                <% if @match.id == front.match_id %>
                <%= front.eighth_sa_inning {id:"eighth-back"}%>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_eighth_sa_inning %>
                <% end %>
              <% end %>
            <% end %>
            </td>
            <td class="score-field">
            <% if @match.front %>
              <% @fronts.each do |front|%>
                <% if @match.id == front.match_id %>
                <%= front.ninth_sa_inning {id:"ninth-back"}%>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_ninth_sa_inning %>
                <% end %>
              <% end %>
            <% end %>

            </td>
            <th class="total-wrap" >
            <% if @match.front %>
              <% @fronts.each do |front| %>
                <% if @match.id == front.match_id %>
                <%= front.first_sa_inning + front.second_sa_inning + front.third_sa_inning + front.fourth_sa_inning + front.fifth_sa_inning + front.sixth_sa_inning + front.seventh_sa_inning + front.eighth_sa_inning + front.ninth_sa_inning %>
                <% end %>
              <% end %>
            <% else %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                  <%= back.back_first_sa_inning + back.back_second_sa_inning + back.back_third_sa_inning + back.back_fourth_sa_inning + back.back_fifth_sa_inning + back.back_sixth_sa_inning + back.back_seventh_sa_inning + back.back_eighth_sa_inning + back.back_ninth_sa_inning %>
                <% end %>
              <% end %>
            <% end %>
            </th>
          </tr>
        </table>
      </div>
      <div class="s-history-order-offence-wrap">
        <table class="s-show-offence-members">
          <tr class="s-show-offence-contents">
            <th class="show-batting-orders">打順</th>　
            <th class="show-start-order-names">選手名</th>
          　<th class="show-positioning">守備</th>
          </tr>
          <tr class="s-show-offence-contents">
            <td class="show-batting-order">１</td>
            <% @members.each do |member| %>
              <% @firsts.each do |first| %>
                <% if @match.id == first.match_id && first.first_name_id == member.id %>
                <td class="show-member-select"><%= member.name %></td>
                <% end %>
              <% end %>
            <% end %>
            <% @firsts.each do |first| %>
              <% if @match.id == first.match_id %>
              <td class="show-position-select"><%= first.first_position.name %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="s-show-offence-contents">
            <td class="show-batting-order">２</td>
            <% @members.each do |member| %>
              <% @seconds.each do |second| %>
                <% if @match.id == second.match_id && second.second_name_id == member.id %>
                <td class="show-member-select"><%= member.name %></td>
                <% end %>
              <% end %>
            <% end %>
            <% @seconds.each do |second| %>
              <% if @match.id == second.match_id %>
              <td class="show-position-select"><%= second.second_position.name %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="s-show-offence-contents">
            <td class="show-batting-order">３</td>
            <% @members.each do |member| %>
              <% @thirds.each do |third| %>
                <% if @match.id == third.match_id && third.third_name_id == member.id %>
                <td class="show-member-select"><%= member.name %></td>
                <% end %>
              <% end %>
            <% end %>
            <% @thirds.each do |third| %>
              <% if @match.id == third.match_id %>
              <td class="show-position-select"><%= third.third_position.name %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="s-show-offence-contents">
            <td class="show-batting-order">４</td>
            <% @members.each do |member| %>
              <% @fourths.each do |fourth| %>
                <% if @match.id == fourth.match_id && fourth.fourth_name_id == member.id %>
                <td class="show-member-select"><%= member.name %></td>
                <% end %>
              <% end %>
            <% end %>
            <% @fourths.each do |fourth| %>
              <% if @match.id == fourth.match_id %>
              <td class="show-position-select"><%= fourth.fourth_position.name %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="s-show-offence-contents">
            <td class="show-batting-order">５</td>
            <% @members.each do |member| %>
              <% @fifths.each do |fifth| %>
                <% if @match.id == fifth.match_id && fifth.fifth_name_id == member.id %>
                <td class="show-member-select"><%= member.name %></td>
                <% end %>
              <% end %>
            <% end %>
            <% @fifths.each do |fifth| %>
              <% if @match.id == fifth.match_id %>
              <td class="show-position-select"><%= fifth.fifth_position.name %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="s-show-offence-contents">
            <td class="show-batting-order">６</td>
            <% @members.each do |member| %>
              <% @sixths.each do |sixth| %>
                <% if @match.id == sixth.match_id && sixth.sixth_name_id == member.id %>
                <td class="show-member-select"><%= member.name %></td>
                <% end %>
              <% end %>
            <% end %>
            <% @sixths.each do |sixth| %>
              <% if @match.id == sixth.match_id %>
              <td class="show-position-select"><%= sixth.sixth_position.name %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="s-show-offence-contents">
            <td class="show-batting-order">７</td>
            <% @members.each do |member| %>
              <% @sevenths.each do |seventh| %>
                <% if @match.id == seventh.match_id && seventh.seventh_name_id == member.id %>
                <td class="show-member-select"><%= member.name %></td>
                <% end %>
              <% end %>
            <% end %>
            <% @sevenths.each do |seventh| %>
              <% if @match.id == seventh.match_id %>
              <td class="show-position-select"><%= seventh.seventh_position.name %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="s-show-offence-contents">
            <td class="show-batting-order">８</td>
            <% @members.each do |member| %>
              <% @eighths.each do |eighth| %>
                <% if @match.id == eighth.match_id && eighth.eighth_name_id == member.id %>
                <td class="show-member-select"><%= member.name %></td>
                <% end %>
              <% end %>
            <% end %>
            <% @eighths.each do |eighth| %>
              <% if @match.id == eighth.match_id %>
              <td class="show-position-select"><%= eighth.eighth_position.name %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="s-show-offence-contents">
            <td class="show-batting-order">９</td>
            <% @members.each do |member| %>
              <% @ninths.each do |ninth| %>
                <% if @match.id == ninth.match_id && ninth.ninth_name_id == member.id %>
                <td class="show-member-select"><%= member.name %></td>
                <% end %>
              <% end %>
            <% end %>
            <% @ninths.each do |ninth| %>
              <% if @match.id == ninth.match_id %>
              <td class="show-position-select"><%= ninth.ninth_position.name %></td>
              <% end %>
            <% end %>
          </tr>
        </table>
        <div class="history-image-comment-wrap">
          <div class="image-comment">
            <div class="image-comment-header-wrap">
              <p>試合詳細</p>
            </div>
            <div class="history-comment-wrap">
              <div class="history-image-text">フリーコメント</div>
              <% @fronts.each do |front| %>
                <% if @match.id == front.match_id %>
                <div class="comment-field-history"><%= front.front_comment %></div>
                <% end %>
              <% end %>
              <% @backs.each do |back| %>
                <% if @match.id == back.match_id %>
                <div class="comment-field-history"><%= back.back_comment %></div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
      <div class="history-set-wrap">
        <%= link_to "削除する", history_path, method: :delete, class:"history-set-btn" %> 
        <%= link_to "一覧へ戻る", historys_path, class:"history-set-btn" %> 
      </div>
    </div>
  </div>
</div>
