<%= render "shared/header" %>
<%= form_with model: @order, url: orders_path, class: "defence-main-wrap", local: true do |f| %>
<div class="offence-main-wrap">
  <div class="match-form-group">
    <div class='match-form-text-wrap'>
      <p class="user-name"><%= current_user.name %></p>
      <label class="form-text"> VS </label>
      <%= f.text_field :match_name, placeholder:"対戦相手", class:"match-name" %>
    </div>
    <div class='match-form-date-wrap'>
      <%= f.collection_select(:year_id, Year.all, :id, :name, {}, {class:"year-date-field"}) %>
      <label class="form-text">年</label>
      <%= f.collection_select(:month_id, Month.all, :id, :name, {}, {class:"date-field"}) %>
      <label class="form-text">月</label>
      <%= f.collection_select(:day_id, Day.all, :id, :name, {}, {class:"date-field"}) %>
      <label class="form-text">日</label>
    </div>
  </div>
    
  <div class="offence-wrap">
    <table class="offence-members">
      <tr>
        <th class="batting-order">打順</th>　
        <th class="start-order-names">選手名</th>
      　<th class="positioning">守</th>
      </tr>
      <tr>
        <td>１</td>
        <td><%= f.collection_select(:first_order_id, Member.all, :id, :name, {prompt:"選択してください"}, {class:"member-select"})%></td>
        <td><%= f.collection_select(:first_defence_id, FirstDefence.all, :id, :name, {}, {class:"position-select"}) %></td>
      </tr>
      <tr>
        <td>２</td>
        <td><%= f.collection_select(:second_order_id, Member.all, :id, :name, {prompt:"選択してください"}, {class:"member-select"})%></td>
        <td><%= f.collection_select(:second_defence_id, SecondDefence.all, :id, :name, {}, {class:"position-select"}) %></td>
      </tr>
      <tr>
        <td>３</td>
        <td><%= f.collection_select(:third_order_id, Member.all, :id, :name, {prompt:"選択してください"}, {class:"member-select"})%></td>
        <td><%= f.collection_select(:third_defence_id, ThirdDefence.all, :id, :name, {}, {class:"position-select"}) %></td>
      </tr>
      <tr>
        <td>4</td>
        <td><%= f.collection_select(:fourth_order_id, Member.all, :id, :name, {prompt:"選択してください"}, {class:"member-select"})%></td>
        <td><%= f.collection_select(:fourth_defence_id, FourthDefence.all, :id, :name, {}, {class:"position-select"}) %></td>
      </tr>
      <tr>
        <td>5</td>
        <td><%= f.collection_select(:fifth_order_id, Member.all, :id, :name, {prompt:"選択してください"}, {class:"member-select"})%></td>
        <td><%= f.collection_select(:fifth_defence_id, FifthDefence.all, :id, :name, {}, {class:"position-select"}) %></td>
      </tr>
      <tr>
        <td>6</td>
        <td><%= f.collection_select(:sixth_order_id, Member.all, :id, :name, {prompt:"選択してください"}, {class:"member-select"})%></td>
        <td><%= f.collection_select(:sixth_defence_id, SixthDefence.all, :id, :name, {}, {class:"position-select"}) %></td>
      </tr>
      <tr>
        <td>7</td>
        <td><%= f.collection_select(:seventh_order_id, Member.all, :id, :name, {prompt:"選択してください"}, {class:"member-select"})%></td>
        <td><%= f.collection_select(:seventh_defence_id, SeventhDefence.all, :id, :name, {}, {class:"position-select"}) %></td>
      </tr>
      <tr>
        <td>8</td>
        <td><%= f.collection_select(:eighth_order_id, Member.all, :id, :name, {prompt:"選択してください"}, {class:"member-select"})%></td>
        <td><%= f.collection_select(:eighth_defence_id, EighthDefence.all, :id, :name, {}, {class:"position-select"}) %></td>
      </tr>
      <tr>
        <td>9</td>
        <td><%= f.collection_select(:ninth_order_id, Member.all, :id, :name, {prompt:"選択してください"}, {class:"member-select"})%></td>
        <td><%= f.collection_select(:ninth_defence_id, NinthDefence.all, :id, :name, {}, {class:"position-select"}) %></td>
      </tr>
    </table>
  </div>
  <div class="offence-set-wrap">
    <input type="submit" value="保存する" class="order-create-btn">
  </div>
</div>
<% end %>
<%= render "shared/footer" %>