<div class="order-main-image">
  <div class="top-session-wrap">

    <%= render "shared/header" %>
    <div class="defence-main-wrap">
      <div class="offence-main-wrap">
        <div class="show-match-form-group">
          <div class='show-match-form-text-wrap'>
            <p class="show-user-name"><%= current_user.name %></p>
            <label class="form-text"> VS </label>
            <p class="show-match-name"><%= @match.match_name %></p>
          </div>
          <div class='show-match-form-date-wrap'>
            <p class="show-year-date-field"><%= @match.year.name %></p>
            <label class="show-form-text">年</label>
            <p class="show-date-field"><%= @match.month.name %></p>
            <label class="show-form-text">月</label>
            <p class="show-date-field"><%= @match.day.name %></p>
            <label class="show-form-text">日</label>
          </div>
          <div class="show-offence-set-wrap">
            <%= link_to "試合開始", "#", class:"show-order-create-btn"%>
          </div>
          <div class="show-offence-edit-wrap">
            <%= link_to "編集", "#", class:"show-order-create-btn"%>
          </div>
          <div class="show-offence-edit-wrap">
            <%= link_to "削除", "#", class:"show-order-create-btn"%>
          </div>
          <div class="show-offence-edit-wrap">
            <%= link_to "戻る", ofence_orders_path, class:"show-order-create-btn"%>
          </div>

        </div>
          
        <div class="show-offence-wrap">
          <table class="show-offence-members">
            <tr class="show-offence-contents">
              <th class="show-batting-orders">打順</th>　
              <th class="show-start-order-names">選手名</th>
            　<th class="show-positioning">守備</th>
            </tr>
            <tr class="show-offence-contents">
              <td class="show-batting-order">１</td>
              <% @members.each do |member| %>
                <% @firsts.each do |first| %>
                  <% if @match.id == first.match_id && first.first_name_id == member.id %>
                  <td class="show-member-select"><%= member.name %></td>
                  <% end %>
                <% end %>
              <% end %>
              <% @firsts.each do |first| %>
                <% if @match.id == first.match_id %>
                <td class="show-position-select"><%= first.first_position.name %></td>
                <% end %>
              <% end %>
            </tr>
            <tr class="show-offence-contents">
              <td class="show-batting-order">２</td>
              <% @members.each do |member| %>
                <% @seconds.each do |second| %>
                  <% if @match.id == second.match_id && second.second_name_id == member.id %>
                  <td class="show-member-select"><%= member.name %></td>
                  <% end %>
                <% end %>
              <% end %>
              <% @seconds.each do |second| %>
                <% if @match.id == second.match_id %>
                <td class="show-position-select"><%= second.second_position.name %></td>
                <% end %>
              <% end %>
            </tr>
            <tr class="show-offence-contents">
              <td class="show-batting-order">３</td>
              <% @members.each do |member| %>
                <% @thirds.each do |third| %>
                  <% if @match.id == third.match_id && third.third_name_id == member.id %>
                  <td class="show-member-select"><%= member.name %></td>
                  <% end %>
                <% end %>
              <% end %>
              <% @thirds.each do |third| %>
                <% if @match.id == third.match_id %>
                <td class="show-position-select"><%= third.third_position.name %></td>
                <% end %>
              <% end %>
            </tr>
            <tr class="show-offence-contents">
              <td class="show-batting-order">４</td>
              <% @members.each do |member| %>
                <% @fourths.each do |fourth| %>
                  <% if @match.id == fourth.match_id && fourth.fourth_name_id == member.id %>
                  <td class="show-member-select"><%= member.name %></td>
                  <% end %>
                <% end %>
              <% end %>
              <% @fourths.each do |fourth| %>
                <% if @match.id == fourth.match_id %>
                <td class="show-position-select"><%= fourth.fourth_position.name %></td>
                <% end %>
              <% end %>
            </tr>
            <tr class="show-offence-contents">
              <td class="show-batting-order">５</td>
              <% @members.each do |member| %>
                <% @fifths.each do |fifth| %>
                  <% if @match.id == fifth.match_id && fifth.fifth_name_id == member.id %>
                  <td class="show-member-select"><%= member.name %></td>
                  <% end %>
                <% end %>
              <% end %>
              <% @fifths.each do |fifth| %>
                <% if @match.id == fifth.match_id %>
                <td class="show-position-select"><%= fifth.fifth_position.name %></td>
                <% end %>
              <% end %>
            </tr>
            <tr class="show-offence-contents">
              <td class="show-batting-order">６</td>
              <% @members.each do |member| %>
                <% @sixths.each do |sixth| %>
                  <% if @match.id == sixth.match_id && sixth.sixth_name_id == member.id %>
                  <td class="show-member-select"><%= member.name %></td>
                  <% end %>
                <% end %>
              <% end %>
              <% @sixths.each do |sixth| %>
                <% if @match.id == sixth.match_id %>
                <td class="show-position-select"><%= sixth.sixth_position.name %></td>
                <% end %>
              <% end %>
            </tr>
            <tr class="show-offence-contents">
              <td class="show-batting-order">７</td>
              <% @members.each do |member| %>
                <% @sevenths.each do |seventh| %>
                  <% if @match.id == seventh.match_id && seventh.seventh_name_id == member.id %>
                  <td class="show-member-select"><%= member.name %></td>
                  <% end %>
                <% end %>
              <% end %>
              <% @sevenths.each do |seventh| %>
                <% if @match.id == seventh.match_id %>
                <td class="show-position-select"><%= seventh.seventh_position.name %></td>
                <% end %>
              <% end %>
            </tr>
            <tr class="show-offence-contents">
              <td class="show-batting-order">８</td>
              <% @members.each do |member| %>
                <% @eighths.each do |eighth| %>
                  <% if @match.id == eighth.match_id && eighth.eighth_name_id == member.id %>
                  <td class="show-member-select"><%= member.name %></td>
                  <% end %>
                <% end %>
              <% end %>
              <% @eighths.each do |eighth| %>
                <% if @match.id == eighth.match_id %>
                <td class="show-position-select"><%= eighth.eighth_position.name %></td>
                <% end %>
              <% end %>
            </tr>
            <tr class="show-offence-contents">
              <td class="show-batting-order">９</td>
              <% @members.each do |member| %>
                <% @ninths.each do |ninth| %>
                  <% if @match.id == ninth.match_id && ninth.ninth_name_id == member.id %>
                  <td class="show-member-select"><%= member.name %></td>
                  <% end %>
                <% end %>
              <% end %>
              <% @ninths.each do |ninth| %>
                <% if @match.id == ninth.match_id %>
                <td class="show-position-select"><%= ninth.ninth_position.name %></td>
                <% end %>
              <% end %>
            </tr>
            
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>