<div class="member-main-image">
  <div class="top-session-wrap">

    <%= render "shared/header" %>

    <%= form_with model: @member, url: members_path, class:"new-member-wrap", local: true do |f| %>
      <div class="registration-wrap">
        <div class="registration-edit-member-wrap">
          <div class="member-form-wrap">
            <%= render 'shared/error_messages', model: f.object %>
            <div class="form-header-text">
              選手情報入力
            </div>
          </div>
          <div class="member-first-contents">
            <div class="edit-form">
              <div>
                <label class="member-form-text">名前</label>
              </div>
              <div>
                <%= f.text_field :name, placeholder:"山田　太郎", class:"member-field", id:"member_name" %>
              </div>
            </div>
            <div class="edit-form">
              <div>
                <label class="member-form-text">年齢</label>
              </div>
              <div>
                <%= f.text_field :age, placeholder:"半角数字を入力してください", class:"member-field"%> 
              </div>
            </div>
          </div>
          <div class="member-first-contents">
            <div class="edit-form">
              <div>
                <label class="member-form-text">投球　打席</label>
              </div>
              <div>
                <%= f.collection_select(:style_id, Style.all, :id, :name, {}, {class:"member-field", id:"member_hitting"}) %>
              </div>
            </div>
            <div class="edit-form">
              <div>
                <label class="member-form-text">背番号</label>
              </div>
              <div>
                <%= f.text_field :number, placeholder:"半角数字を入力してください", class:"member-field" %>
              </div>
            </div>
          </div>

          <div class="edit-form-group">
            <div class="member-position-check">
              <div>
                <label class="member-form-text">投手</label>
                <%= f.check_box :pitcher_position_id, class:"check-box" %>
              </div>
              <div>
                <label class="member-form-text">捕手</label>  
                <%= f.check_box :catcher_position_id, class:"check-box" %>
              </div>
              <div>
                <label class="member-form-text">内野手</label>
                <%= f.check_box :inside_position_id, class:"check-box" %>
              </div>
              <div>
                <label class="member-form-text">外野手</label>
                <%= f.check_box :outside_position_id, class:"check-box" %>
              </div>
            </div>
            <div class='member-text-wrap'>
              <label class="member-form-text">選手画像</label>
              <%= f.file_field :image, class:"member-field-image", id:"member_image" %>
            </div>
          </div>
          <div class="member-registration-group">
            <div class='member-registration'>
              <%= f.submit "登録", class:"member-registration-send" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
